body{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  /* .main{
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .todolists ul{
    list-style:none;
  }
  .lists li{
    display: flex;
    gap: 10px;
  }
  .strikeout{
    text-decoration: line-through;
  }