<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Hello Vue</h1>
    <div id="app">
        <div v-if="showBook">
            <h5>{{ title }}</h5>
            <p>{{ author }} - {{ age }} years</p>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBook">Hide Book</span>
            <span v-else>Show Book</span>
        </button>

        <div v-show="showBook">current show book</div>
        
    </div>
    <script src="app.js"></script>
</body>
</html>